$primarycolor:#fc5e72;
$white:#fff;


.transition, p, ul li i:before, ul li i:after {
  transition: all 0.5s ease-in-out;
}



.no-select, h7 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal-body-custom{
  color: rgba(48, 69, 92, 0.8);
  font-family: "Titillium Web", sans-serif;
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 90px 0;
  transform: translate(-50%, 0);
  background-color: #fefffa;
  max-width: 450px;
  padding: 30px;
}

h7 {
  font-family:Impact, Arial Black, sans serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 42px;
  font-weight: 100;
  text-align:center;
  color:#fc5e72;
}

h8 {
  font-family: sans serif;
  font-size: 1rem;
  display: block;
  margin: 0;
  padding:0 1.5rem;
  cursor: pointer;
  font-weight:400;
  text-align:center;
}

.impact{
  font-size:0.8rem;
  font-weight: normal;
}


p {
  font-family:Georgia, Times, Times New Roman, serif;
  font-size:0.9rem;
  position: relative;
  overflow: hidden;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  text-align: center;
  &.callout{
    background: $primarycolor;
    color:$white;
    padding:1rem;
    font-size:0.8rem;
  }
  &.addition{
    background:#f6f6f6;
    font-family:Impact, Arial Black, sans serif;
    padding:1rem;
    font-size:0.8rem;
    color: $primarycolor;
  }
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
  li {
  position: relative;
  padding: 0;
  margin: 0;
  &:after {
    margin-top:30px;
  display: block;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  content: "\A71C"; //arrow
  font-size:2.5rem;
  text-align:center;
  line-height:0.5; 
}
  &:last-child{
    margin:0;
    padding:0;
    &:after{
  content: "";
  }
  }
}
  h8:not(.without)::after{
  position: absolute;
  display:inline-block;
  right: 0;
  content: "\002B"; //cross
  transform: rotate(315deg);
  margin-left:5px;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}
input[type=checkbox]:checked ~ h8:after {
  transform: rotate(0); 
  font-size:1.35rem;
  color:#ccc;
}

input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
input[type=checkbox]:checked ~ p{
  margin: 0 0 10px 0;
  max-height: 0;
  opacity: 0;
  padding:0;
}



}


ul .evo {
  &:before{
  display:block;
  content:'';
  border-top: 1px dashed #fc5e72;
  margin-left:-25%;
  margin-right:-25%;
}
&:after{
  display:block;
  content:'';
  border-bottom: 1px dashed #fc5e72;
  margin-left:-25%;
  margin-right:-25%;
}
  h7{
  font-family:Impact, Arial Black, sans serif;
  color: #fc5e72;
  margin:0;
  text-align:center;
}
  span{
    margin:0;
    font-size:0.75rem;
    font-family:Georgia, Times, Times New Roman, serif;
    text-align:center;
    font-weight:normal;
    color:gray;
  }
  li{
  &:first-child{
    margin:0;
    padding:0;
    &:after{
  content: "";
  }
  }
    &:after{
        display: block;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  content: "\A71C";
  font-size:2.5rem;
  text-align:center;
  color:#fc5e72;
  line-height:0.5;
}
  }
}




ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}
ul li:last-of-type {
  padding-bottom: 0;
}





@media (max-width: 550px) {
  body {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
}

ul .red:after {
    color:#fc5e72;
}
ul .green:after {
  color:#5EFC6D;
}