doctype html
html
  head
    title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/arbol.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes')
  body
    .top.header.text-center(style='')

    .background-image.selected-image-background.nopadding.total-width
    .total-height.nopadding.total-width

      // ------------row--------------
      .total-height.row.nomargin.total-width
        .col-md-7.col-xs-12.nopadding.total-height.black-transparent-background.over
          .overlay.nopadding
            h1.question-text-bottom
          img.selected-image-src
          .overlay.nopadding.up-100
              h3.question-text
          .overlay.nopadding
            h3.position-1
            h3.position-2
            h3.position-3


              //h3 Tu curso se prepara para la elección de su directiva. Sin embargo nunca han hecho esto y quieren tener un buen sistema de elecciones.

          //img(src='../images/idea2.jpg')


          // ------------sidebar--------------
        .col-md-5.col-xs-12.nopadding.blue-background.total-height.overflow-scroll.over
          div
            div
              div
                ul#chat.cards.text-center
          .col-xs-12
            div.q1chat.padding.hide
              button.answer.SendMsgBtn1Y Estoy de acuerdo
              button.answer.SendMsgBtn1N No estoy de acuerdo
              button.answer.SendMsgBtn1NI No lo sé
            div.q2achat.padding.hide
              .answer
                input(type="radio", name="question2", value="0", checked=gender=="yes")
                | Sí
              div.q2bchat.hide
                button.answer.NewArgBtn Argumenta
                div
                  ul.list-group.checked-list-box.rlist1
              .answer
                input(type="radio", name="question2", value="1", checked=gender=="no")
                | No
              button.answer.SendMsgBtn3.specialBtn.disabledbutton  Continuar
            div.q3achat.padding.hide
              h3
              .answer
                input(type="radio", name="question3", value="0", checked=gender=="yes")
                | Sí
              div.q3bchat.hide
                button.answer.NewArgBtn2 Argumenta
                div.checkboxList.pre-scrollable
                  ul.list-group.checked-list-box.rlist2
                    li.list-group-item Cras justo odio
              .answer
                input(type="radio", name="question3", value="1", checked=gender=="no")
                | No
              button.answer.SendMsgBtn5.specialBtn.disabledbutton Continuar
            div.q4achat.padding.hide
              h3
              .answer
                input(type="radio", name="question4", value="0", checked=gender=="dont")
                | No lo sé
              .answer
                input(type="radio", name="question4", value="1", checked=gender=="mistake1")
                | Cometí un error, estoy en desacuerdo con el argumento principal
              .answer
                input(type="radio", name="question4", value="2", checked=gender=="mistake2")
                | Cometí un error, estoy en desacuerdo con el(los) contraargumento(s)
              .answer
                input(type="radio", name="question4", value="3", checked=gender=="newarguments")
                | Estoy de acuerdo con los siguientes argumentos
              div.q4bchat.hide
                button.answer.NewArgBtn3 Argumenta
                div.checkboxList.pre-scrollable
                  ul.list-group.checked-list-box.rlist3
                    li.list-group-item Cras justo odio
              button.answer.SendMsgBtn6.specialBtn.disabledbutton Continuar
            div.q5achat.padding.hide
              .answer
                input(type="radio", name="question5", value="0", checked=gender=="dont")
                | No lo sé
              .answer
                input(type="radio", name="question5", value="1", checked=gender=="mistake1")
                | Cometí un error, sí estoy de acuerdo con el argumento principal
              .answer
                input(type="radio", name="question5", value="2", checked=gender=="mistake2")
                | Cometí un error, no estoy de acuerdo con el(los) contraargumento(s)
              .answer
                input(type="radio", name="question5", value="3", checked=gender=="newarguments")
                | Estoy de acuerdo con los siguientes argumentos
              div.q5bchat.hide
                button.answer.NewArgBtn4 Argumenta
                div.checkboxList.pre-scrollable
                  ul.list-group.checked-list-box.rlist4
                    li.list-group-item Cras justo odio
              button.answer.SendMsgBtn7.specialBtn.disabledbutton  Continuar
        // ------------end sidebar--------------


        // ------------end game container--------------
      // ------------end row--------------
    // ------------end container--------------

    .footer.text-center
    // Modal
    #myModal1.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Nuevo Argumento
          .modal-body
            textarea.MsgText.MsgText2
            button.btn.addMsgBtn.AddMsgBtn1 Listo
          .modal-footer
    #myModal2.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Nuevo Argumento
          .modal-body
            textarea.MsgText.MsgText3
            button.btn.addMsgBtn.AddMsgBtn2 Listo
          .modal-footer
    #myModal3.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Nuevo Argumento
          .modal-body
            textarea.MsgText.MsgText4
            button.btn.addMsgBtn.AddMsgBtn3 Listo
          .modal-footer
    #myModal4.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Nuevo Argumento
          .modal-body
            textarea.MsgText.MsgText5
            button.btn.addMsgBtn.AddMsgBtn4 Listo
          .modal-footer
    #myModal5.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header-custom
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Detalle
          .modal-body-custom
            ul

            button.btn.addMsgBtn.AddMsgBtn5 Ok
    script(type='text/javascript', src='/javascripts/socket.io-1.3.5.js')
    script(src='/javascripts/jquery.emoji.js')
    script(type='text/javascript', src='/javascripts/client.js')