doctype html
html
  head
    title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    link(rel='stylesheet', href='/stylesheets/simplify.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes')
  body
    .top.header.text-center(style='')
    .background-image(style="background-image: url('../images/idea2.jpg');").nopadding.total-width
    .total-height.nopadding.total-width
      // ------------row--------------
      .total-height.row.nopadding.total-width.nomargin
        .panelIzquierdo.col-md-7.col-xs-12.nopadding.total-height.black-transparent-background.over.relative
          .overlay.nopadding
            h3#description Cargando...
          .overlay2.col-md-7.col-xs-12.nopadding
            ul#cards.cards.text-center
            div
              button#b1.answer.SendMsgBtn Estoy de acuerdo
              button#b2.answer.SendMsgBtn No estoy de acuerdo
              button#b3.answer.SendMsgBtn No lo sébutton
          img(src='../images/idea2.jpg')
          div
            h3#timer

        // ------------sidebar--------------
        #panelDerecho.col-md-5.col-xs-12.nopadding.blue-background.total-height.overflow-scroll.over
          ul#chat.chat.text-center(style='padding: 25px;').overflow-scroll
          div.input-group
            textarea(type="text" rows="6" cols="40" placeholder="Escribe tu mensaje...")#MsgText.form-control.input-sm
            span.input-group-btn
              button.btn.btn-success.btn-sm.no-shadow#SendMsgBtn Enviar
        // ------------end sidebar--------------


        // ------------end game container--------------
      // ------------end row--------------
    // ------------end container--------------

    .footer.text-center
    // Modal
    #myModal1.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Nuevo Argumento
          .modal-body
            textarea(rows="4" cols="40").MsgText2
            button.btn.AddMsgBtn1 Agregar
          .modal-footer
    #myModal2.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Nuevo Argumento
          .modal-body
            textarea(rows="4" cols="40").MsgText3
            button.btn.AddMsgBtn2 Agregar
          .modal-footer
    #myModal3.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Nuevo Argumento
          .modal-body
            textarea(rows="4" cols="40").MsgText4
            button.btn.AddMsgBtn3 Agregar
          .modal-footer
    #myModal4.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Nuevo Argumento
          .modal-body
            textarea(rows="4" cols="40").MsgText5
            button.btn.AddMsgBtn4 Agregar
          .modal-footer
    script(type='text/javascript', src='/javascripts/socket.io-1.3.5.js')
    script(src='/javascripts/jquery.emoji.js')
    script(type='text/javascript', src='/javascripts/client_chat.js')