html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en-GB')
  head
    link(rel='stylesheet prefetch',href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900')
    link(rel='stylesheet prefetch',href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet prefetch',href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/name.css')
    script(src='/javascripts/jquery.min.js')

    title Seleccionar Nombre
  body
    .container
      .info
        h1 Inicio de Sesión
    .form
      .thumbnail
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg')
      form.login-form#chat_form
        h2 ¡Bienvenido!
        p Para comenzar selecciona tu usuario
        div
            - console.log(userArray)


        div
        select#soflow.span3
          option(value='n') Tu Nombre
          each userData, i in userArray
            option(value=i) #{userData[0]}
        br
        br


        input#enter_button.button.glossy(type='button', value='Entrar')

        input(id='arrayNameAssignment', type='hidden', name='arrayNameAssignment', value='#{userArray}')


    script(type='text/javascript', src='/javascripts/name.js')