doctype html
html
  head
    title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes')
  body
    .top.header.text-center(style='')
      
    .gameContainer.container-fluid
      // ------------row--------------
      .row.col-lg-offset-1.col-lg-10
        img(src="/images/Argumentador(fondo).png")
        // ------------sidebar--------------
        
    script(type='text/javascript', src='/javascripts/socket.io-1.3.5.js')
    script(src='/javascripts/jquery.emoji.js')