.transition, p, ul li i:before, ul li i:after {
  transition: all 0.5s ease-in-out; }

.no-select, h7 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.modal-body-custom {
  color: rgba(48, 69, 92, 0.8);
  font-family: "Titillium Web", sans-serif;
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fefffa;
  max-width: 450px;
  padding: 20px; }

h7 {
  font-family: Impact, Arial Black, sans serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 42px;
  font-weight: 100;
  text-align: center;
  color: #fc5e72; }

h8 {
  font-family: sans serif;
  font-size: 2rem;
  display: block;
  margin: 0;
  padding: 0 1.5rem;
  cursor: pointer;
  font-weight: 400;
  text-align: center; }

.impact {
  font-size: 0.8rem;
  font-weight: normal; }

.modal-body-custom p {
  font-family: Georgia, Times, Times New Roman, serif;
  position: relative;
  overflow: hidden;
  opacity: 1;
  font-size:1.4rem;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  text-align: center; }
  p.callout {
    background: #fc5e72;
    color: #fff;
    padding: 1rem;
    font-size: 0.8rem; }
  p.addition {
    background: #f6f6f6;
    font-family: Impact, Arial Black, sans serif;
    padding: 1rem;
    font-size: 0.8rem;
    color: #fc5e72; }

.modal-body-custom ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0; }
  .modal-body-custom ul li {
    position: relative;
    padding: 0;
    margin: 0; }
    .modal-body-custom ul li:after {
      margin-top: 15px;
      display: block;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s;
      content: "\A71C";
      font-size: 8.5rem;
      text-align: center;
      line-height: 0.5; }
    .modal-body-custom ul li:last-child {
      margin: 0;
      padding: 0; }
      .modal-body-custom ul li:last-child:after {
        content: ""; }
  .modal-body-custom ul h8:not(.without)::after {
    position: absolute;
    display: inline-block;
    right: 0;
    content: "\002B";
    transform: rotate(315deg);
    margin-left: 5px;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s; }
  .modal-body-custom ul input[type=checkbox]:checked ~ h8:after {
    transform: rotate(0);
    font-size: 1.35rem;
    color: #ccc; }
  .modal-body-custom ul input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0; }
  .modal-body-custom ul input[type=checkbox]:checked ~ p {
    margin: 0 0 10px 0;
    max-height: 0;
    opacity: 0;
    padding: 0; }

.modal-body-custom ul .evo:before {
  display: block;
  content: '';
  border-top: 1px dashed #fc5e72;
  margin-left: -25%;
  margin-right: -25%; }

.modal-body-custom ul .evo:after {
  display: block;
  content: '';
  border-bottom: 1px dashed #fc5e72;
  margin-left: -25%;
  margin-right: -25%; }

.modal-body-custom ul .evo h8 {
  font-family: Impact, Arial Black, sans serif;
  color: #fc5e72;
  margin: 0;
  text-align: center; }

.modal-body-custom ul .evo span {
  margin: 0;
  font-size: 0.75rem;
  font-family: Georgia, Times, Times New Roman, serif;
  text-align: center;
  font-weight: normal;
  color: gray; }

.modal-body-custom ul .evo li:first-child {
  margin: 0;
  padding: 0; }
  ul .evo li:first-child:after {
    content: ""; }

.modal-body-custom ul .evo li:after {
  display: block;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  content: "\A71C";
  font-size: 2.5rem;
  text-align: center;
  color: #fc5e72;
  line-height: 0.5; }

.modal-body-custom ul li:nth-of-type(1) {
  animation-delay: 0.5s; }

.modal-body-custom ul li:nth-of-type(2) {
  animation-delay: 0.75s; }

.modal-body-custom ul li:nth-of-type(3) {
  animation-delay: 1s; }

.modal-body-custom ul li:last-of-type {
  padding-bottom: 0; }

@media (max-width: 550px) {
  body {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0; } }

.modal-body-custom ul .red:after {
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  background-image: url(../images/rojo.png);
}

.modal-body-custom ul .green:after {
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  background-image: url(../images/verde.png);
}
