html,body{
    height:100%;
}

.header, .footer{
    background: #00B2E2;
    color: #fff;
}

.modal-header, .modal-footer{
    background: #00B2E2;
    color: #fff;
}

.container-fluid {
    height:100%;
    min-height: 800px;
}

.fill-11{
    width:100%;
    height: 460px;
    min-height:20%;
    /*padding:10px;
    padding-bottom: 75%;
    max-height:60%;
    */
}

::-webkit-scrollbar {
    display: none;
}

.fill-10{
    width:100%;
    height:100%;
    min-height:100%;
    padding:10px;
    max-height:100%;
}

.fill-9{
    width:100%;
    height:90%;
    min-height:90%;
    padding:10px;
    max-height:90%;
}

.fill-8{
    width:100%;
    height:80%;
    min-height:80%;
    padding:10px;
    max-height:80%;
}

.fill-7{
    width:100%;
    height:70%;
    min-height:70%;
    padding:10px;
    max-height:70%;
}

.fill-6{
    width:100%;
    height:60%;
    min-height:60%;
    padding:10px;
    max-height:60%;
}

.fill-5{
    width:100%;
    height:50%;
    min-height:50%;
    padding:10px;
    max-height:50%;
}

.fill-4{
    width:100%;
    height:40%;
    min-height:40%;
    padding:10px;
    max-height:40%;
}

.fill-3{
    width:100%;
    height:30%;
    min-height:30%;
    padding:10px;
    max-height:30%;
}

.fill-1{
    width:100%;
    height:10%;
    min-height:10%;
    padding:10px;
    max-height:10%;
}

.fill-05{
    width:100%;
    height:5%;
    min-height:5%;
    padding:10px;
    max-height:5%;
}

.fill-2{
    width:100%;
    height:20%;
    min-height:20%;
    padding:10px;
    max-height:20%;
}

.fill-10-height{
    height:100%;
    min-height:100%;
    max-height:100%;
}

.fill-9-height{
    height:90%;
    min-height:90%;
    max-height:90%;
}

.fill-8-height{
    height:80%;
    min-height:80%;
    max-height:80%;
}

.fill-7-height{
    height:70%;
    min-height:70%;
    max-height:70%;
}

.fill-6-height{
    height:60%;
    min-height:60%;
    max-height:60%;
}

.fill-5-height{
    height:50%;
    min-height:50%;
    max-height:50%;
}

.fill-4-height{
    height:40%;
    min-height:40%;
    max-height:40%;
}

.fill-3-height{
    height:30%;
    min-height:30%;
    max-height:30%;
}

.fill-1-height{
    height:10%;
    min-height:10%;
    max-height:10%;
}

.fill-2-height{
    height:20%;
    min-height:20%;
    max-height:20%;
}

.commentList {
    padding:5px;
    list-style:none;
    max-height:220px;
    min-height:220px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
div.msg p,span{
    float: none;
    text-align: -webkit-center;
    margin-right: auto;
    margin-left: auto;
}
.msg {
    display: block !important;
}
.btn {
    width:100%;
    min-width:100%;
    max-width:100%;
    white-space: normal;
}

.btn-group-vertical {
    width:100%;
    min-width:100%;
    max-width:100%;
}

.mateView {
    border-style: solid;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.directionsContainer{
    border-bottom-style: solid;
    border-width: 10px;
    border-color: #E9EAED;
    max-height:240px;
    min-height:200px;
    background-color: white;
}
.chatContainer{
    max-height:320px;
    min-height:320px;
    background-color: white;
}

.chat_container{
    border-style: solid;
    border-width: 1px;
    border-color: #D3D3D3;
    background-color: white;
    border-bottom-style: solid;
    max-height:220px;
    min-height:220px;
}

.choicesContainer{
    background-color: white;
    margin-top: 10px;
}

.controlsContainer{
    max-height:160px;
    min-height:160px;
    background-color: white;
}

.mateView{
    max-height:160px;
    min-height:160px;
}

.gameCanvas{
    background-color: white;
}

.statusContainer{
    max-height:160px;
    min-height:160px;
    background-color: white;
}

.progress{
    margin-bottom: 0;
}

.status{
    width: 100%;
    margin-top: -5px;
    margin-bottom: -10px;
    overflow: auto;
}

.inline-text{
    display:inline;
}

.bad{
    float: left;
    color: red;
}

.ok{
    overflow: auto;
    margin-left: 50%;
    text-align: center;
    color: #F0AD4E;
}

.ok-text{
    overflow: auto;
    margin-left: 48%;
    text-align: center;
    color: #F0AD4E;
}

.great{
    float: right;
    color: green;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    /*margin-right:-4px;*/
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:322px;
}
.col-max {
    /* custom max width */
    max-width:1300px;
}

.welcome {
    display: block;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    padding-top: 10%;
    padding-bottom: 15%;
    background-size: cover;
    background-image: url('../images/fondo-azul.png');
}

.pdfdoc{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.acerca{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 99%;
    height: 70%;
}

.modal-dialog {
    width: 50%;
    height: 50%;
    padding: 0;
}

.modal-content {
    height: 60%;
    border-radius: 0;
}
.checkboxList {
    max-height: 160px;
    overflow-y: scroll;
}

.MsgText {
    min-width: 100%;
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}

.cards {
    position: relative;
    list-style-type: none;
    width: 30em;
    padding-left:0;
    margin: 10% auto 0;
}
.answers {
    list-style-type: none;
    padding: 0;
    max-width: 40em;
    margin: 5% auto 0;
}
.answer {
    margin: 20px auto;
    display: block;
    top: 0;
    left: 0;
    width: 16em;
    z-index: 2;
    background: #fff;
    border-radius: 7px;
    padding: 10px 40px;
    box-shadow: 0 0 1px #000;
    transform-origin: 0 0;
    transition: transform 0.6s cubic-bezier(.8,.2,.1,0.8) 0.1s, background 0.4s linear;
    user-select: none;
}
.card {
    display:table;
    margin:0px auto 0px auto;
    max-height: 20em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 80%;
    background: #ccc;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 0 1px #000;
    transform: translateY(0) rotate(4deg) translateX(25px) scale(1);
    transform-origin: 0 0;

    transition: transform 0.6s cubic-bezier(.8, .2, .1, 0.8) 0.1s,
    background 0.4s linear;

    cursor: pointer;
    height: 180px;
    user-select: none;
}  :last-child { margin-bottom: 0; }

.card--next {
    z-index: 5;
    transform: translateY(-25px) rotate(4deg) translateX(25px) scale(1);
}

.card--out {
    animation: card-out 0.6s cubic-bezier(.8,.2,.1,0.8);
    transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
    z-index: 1;
    background: #bbb;
}

@keyframes card-out {
    0% { z-index: 20; transform: translateY(0px) rotate(-4deg); }
    50% { transform: translateY(-120%) rotate(-5deg) translateX(-40px); }
    80% { z-index: 1; }
    100% { transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95); }
}

.card--current {
    cursor: auto;
    user-select: auto;
    position: relative;
    z-index: 10;
    opacity: 1;
    background: #EEE;
    transform: rotate(-1deg) translateX(0%) scale(1);
}
.nopadding {
    padding: 0 !important;
}
h1 { margin: 0; font-size: 2em;}
html, body { height: 100%; }

html, body{height:100%; margin:0;padding:0}

.container-fluid{
    position: fixed;
    z-index: 1;
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}



.centering {
    float:none;
    margin:0 auto;
}

.overlay{
    position: relative;
    color: white;
    min-height: 108px;
    background: rgba(0,0,0,0.5);
    padding:20px 50px !important;
}


.overlay2{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    padding:10px 50px !important;
    position: fixed;
    line-height: 120px;
    min-height: 120px;
    color: white;
}


.modal-body{
    max-width: 340px;
    position: relative;
    padding: 15px;
}
.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    transform:scale(1.2);
    display: block;
    background-size:cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.total-height{
    height: 100%;
}
.total-width{
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}
.black-transparent-background{
    background: rgba(0,0,0,0.5);
}
.blue-background{
    /* background: #1F497D;*/
    background:  rgba(219,207,189,0.85);
}
.padding{
    padding: 70px;
}

.overflow-scroll{
    overflow: scroll;
}

@media ( max-width: 991px ) {
    .total-width {
        width: 100%;
        height: auto;
    }
    .overlay{
        font-size:0.8em;
    }
}
.container{
    position: relative;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
}
.over{
    z-index:1;
}

.nomargin{
    margin:0 !important;
}

.header-msg{
    text-align: left;
}
.chat-body p{
    text-align: left;
}
.relative{
    position:relative;
}